# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
statsmodels
chardet
urllib3
#json
requests

# viz
matplotlib
seaborn
dash
dash_bootstrap_components
dash_html_components
dash_core_components
#plotly.graph_objects   
#plotly.express 


# Code analysis for Python
pylint

# Debugging
ipdb

# Notebbok frameworks
jupyterlab

# Package generator
packgenlite @ git+https://github.com/krokrob/packgenlite.git@master

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

#plot
plotly

#url
urllib3

